#input_area{
    text-align: center;
    width: 600px;
}

#text-area{
    height: 90%;
    width: 50%;
    min-width: 600px;
    border : 1px solid #00ffff;
    border-radius: 35px;
    background-color: #ebf9ffad;
    box-shadow: 2px 2px 1px 3px #80ff969c;
    overflow: hidden;
}

#text-input{
    height: 85%;
    overflow-y: scroll;
}

#text-input::-webkit-scrollbar{
    width: 5px;
}

#text-input::-webkit-scrollbar-thumb{
    background-color : darkgrey;
    border-radius : 10px;
    box-shadow : black;
}
#text-input::-webkit-scrollbar-track{
    border-radius : 10px;
}

.contents{
    display: flex;
    justify-content: center;
    padding: 0 15% 0 25%;
    align-content: center;
    align-items: center;
    height: 85%;
    /*overflow-y : scroll;*/
    margin: 2.5% 4% 0 0;
}

.contents p{
    margin: 20px 30px;
}
#msg{
    width : 450px;
}

#button_send{
    width: 70px;
    height: 45px;
    border-radius: 15px;
    border: 0;
    background: #fbfbbc;
    transition: 0.5s;
    box-shadow: 1px 1px 1px #f33c3c;
}

#button_send:hover{
    background-color: #bbefff75;
    box-shadow: 1px 1px 1px #fb44447a;
    transition: 0.5s;
}

#msg::placeholder{
    color :gainsboro;
}

.secondary{
    text-align: left;
}
.first{
    text-align: right;
}

.alert p span{
    font-size: 12px;
}

#user_area{
    width: 250px;
    border: 1px solid #00ffff;
    border-radius: 35px;
    background-color: #ebf9ffad;
    box-shadow: 2px 2px 1px 3px #80ff969c;
    overflow: scroll;
    margin: 0 10%;
    height: 70%;
}
#user_list{
    text-align: right;
    list-style-type: none;
}

#user_area::-webkit-scrollbar{
    width: 5px;
}

#user_area::-webkit-scrollbar-thumb{
    background-color : darkgrey;
    border-radius : 10px;
    box-shadow : black;
}
#user_area::-webkit-scrollbar-track{
    border-radius : 10px;
}

#user_list li{
    margin-right: 10%;
    padding: 5% 0;
}