
.contents{
    display: flex;
    justify-content: center;
    height: 65%;
    position: relative;
    top: 5%;
}

.contents ul{
    list-style: none;
    margin-top: 3%;
    overflow: hidden;
}

.contents ul li{
    display: flex;
    height: 40px;
    margin-top: 15px;
    border-bottom: 1px solid rgba(134, 134, 134, 0.43);
    text-align: center;
}

li label{
    margin : 0 5px;
}

li p{
    margin: 0 5px;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    transition: 0.5s;
}

button:hover{
    background-color: rgba(207, 225, 255, 61%);
    transition: 0.5s;
}

.write_btn{
    position: absolute;
    bottom : -5%;
    left : 62%;
}

.no{
   width: 60px;
}

.writer{
    width: 150px;
}

.title{
    width: 300px;
}

.createdAt{
    width: 120px;
}

.viewCount{
    width: 80px;
}

.board{
    cursor: pointer;
}