.footer_wrap{
    width : 100%;
    background-color: #e9d9d9;
    height: 140px;
    text-align: center;
    border-top : 1px solid #a37a7a;
    position: absolute;
    bottom: 0;
}

.copyright{
    font-size : 18px;
    font-weight: 400;
    list-style: none;
}

.copyright span{
    font-weight: 600;
}

.copy{
    font-weight: 600;
}

.link{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.link:hover{
    color : #2fa9ff;
    transition: 0.5s;
}
