.footer_wrap{
    width : 100%;
    background-color: #e9d9d9;
    height: 140px;
    text-align: center;
    border-top : 0.5px solid #a37a7a;
}

.copyright{
    font-size : 18px;
    font-weight: 400;
    list-style: none;
    padding : 25px 0;
}

.copy{
    font-weight: 600;
}
