@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family : 'CookieRun-Regular';
    margin : 0 0;
}

.header_wrap{
    width : 100%;
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #bdbdbd;
}

.gnb{
    float : right;
    text-align: center;
    display: flex;
    list-style: none;
    margin : 0 0;
    height: 70px;
}

.logo{
    font-weight: 600;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 15px;
    float: left;
    cursor: pointer;
}

.container li{
    cursor : pointer;
    display: block;
    margin: 23px 40px 23px 0;
    height: 40px;
    width : 100px;
    font-weight: 600;
    font-size: 17px;
}

.ul li span{
    cursor : pointer;
}

.wrap{
    height: 79.4%;
}

input[type="text"], input[type="password"]{
    width : 200px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 1px 1px #eee;
    border : 1px solid darkgrey;
    margin: 20px 0;
    font-weight: 600;
    font-size: 14px;
}
input[type="text"]::placeholder, input[type="password"]::placeholder{
    font-weight: 200;
    font-size: 12px;
}


input[type="submit"], #submit_box{
    width: 120px;
    height: 40px;
    margin-top: 20px;
    border-radius: 27px;
    background-color: #fffe564a;
    border: 1px solid #b1b1b1;
    box-shadow: 1px 1px 1px darkgrey;
    transition: 0.5s;
    cursor: pointer;
}

input[type="submit"]:hover, #submit_box:hover{
    background-color: #ffbabab0;
}