.word{
    font-size: 30px;
    font-weight: 600;
    padding-top : 12%;
    margin: 0;
}
.contents{
    text-align: center;
}

.contents button{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: 0px;
    transition: 0.5s;
}

.contents button:hover{
    background-color: rgba(207, 225, 255, 61%);
    transition: 0.5s;
}